<div class="index-container random-card">
    <img class="random-img" src="{{beers.image_url}}" alt="Beer image cap">
    <div class="card-body">
        <h2 class="card-title">{{beers.name}}</h2>
        <p class="tag-line-par">{{beers.tagLine}}</p>
        <p class="card-text">{{beers.description}}</p>
        <h5 class="bold-tips">Food Pairing</h5>
        <ul>
            {{#each beers.food_pairing}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><span class="bold-tips">Brewers Tips:</span>{{beers.brewers_tips}}</p>
    </div>
</div>